.index-title{
    text-align: center;
    text-shadow: 2px 2px grey;
}

.round {
    border-radius: 10px;
}

.card {
    padding: 15px;
    box-shadow: 2px 2px 6px black;
    border-radius: 5px;
    background-color: #778899;
}

.bg-black {
    background-color: black;
    padding: 45px;
	width:450px;
    height: 500px;
	
}

.calcDisp-0 {
    background-color: grey;
    text-align: center;
    font-size: 200%;
	border-radius: 5px 10px 15px 20px;
}

.calcResult {
    background-color: white;
    border-style: solid;
	border-radius: 5px 10px 15px 20px;
}

.disp-op {
    margin-top: 13%;
}

.button {
    text-align: center;
    font-size: 200%;
	border-radius: 5px 10px 15px 20px;
	 
}

.btn-op-0 {
    background-color: #ff963f;
	 margin-bottom: 8px;
    margin-left: 5px;
    width: 59px;
    height: 45px;
    font-size: 22px;
	border-radius: 5px 10px 15px 20px;
}

.btn-op-1 {
    background-color: #ff963f;
	 margin-bottom: 8px;
    margin-left: 5px;
    width: 59px;
    height: 45px;
    font-size: 22px;
	border-radius: 5px 10px 15px 20px;
}

.btn-num {
    background-color: #ffe68b;
	margin-bottom: 8px;
    margin-left: 5px;
    width: 59px;
    height: 45px;
    font-size: 22px;
	border-radius: 5px 10px 15px 20px;
}

.btn-calc {
    background-color: #ff663f;
	 margin-bottom: 8px;
    margin-left: 5px;
    width: 433px;
    height: 45px;
    font-size: 22px;
	border-radius: 5px 10px 15px 20px;
}

.btn-temp {
    display: none;
}

.row2 {
	-webkit-column-count: 2; 
	-moz-column-count: 2;
    column-count: 2;
}

